body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,0,0);
  background: linear-gradient(to right, rgba(0,0,0,1) , rgba(106,90,205,1));
}


span, p {
  cursor: cell;
}

@media (max-width: 600px) 
{
  .resize {
    width: 70px;
  }
}
